.footer{


  background-color:	#5bc0de;
  padding: 20px 0px 20px 0px;
  margin: 0px auto;
  
  }
  address{
    margin: 0px;
    font-size: 20px;
  
  }
  .navbar_brand{
    font-family: 'Times New Roman', Times, serif ;
    font-weight: 700;
  }